<ion-content class="ionic-home-page-section ion-content-back">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        
      </ion-grid>
      <div class="block">
        <ion-grid>
          <ion-row>
       
              <div class= "relative arrow"  >
                  <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" [routerLink]="['/home/tabs/psl']" src="assets/images/apply/arrow.png"></ion-img>
                  <div class="apply-text" style=" padding-top: 21px;">Know The League</div>
                </div>
    
    <!--<div class="apply-text col-md-8">         
        How To Apply
      
    </div>-->
        
        </ion-row>
        <ion-row>

           <div class="st-div">
       
            <p>
              <span class="text-clr"></span> Each team comprises of 12 players. The captain/ mentor of the team is chosen directly by the team owner. The uniqueness of the league lies in the fact that <span class="text-clr"> 7 players per team are amateurs </span>that are selected through online qualifiers and other contests.

            </p>
            <p><span class="text-clr"></span> A nation wide leaderboard will be maintained and the players who earn the maximum points make it to the "draft".</p>
            <p><span class="text-clr"></span> Post Qualifiers, there will be a <span class="text-clr"> selection ceremony</span>, where the team owners & mentors will choose the players from the various drafts. </p>
            <p><span class="text-clr"></span> Once the teams are selected and finalized, the players undergo training for the next 3 weeks with the mentors/coaches to prepare them for the finale. All <span class="text-clr"> selected players get a base salary </span>as well as performance incentive (if the teams finish in the top 4 positions in the finale)
              Selection Ceremony will be in Delhi on March 1st, 2020. </p>
            <p><span class="text-clr"></span> The Poker Sports League <span class="text-clr">grand finale will be in Kolkata </span>in from <span class="text-clr"> March 15-23rd, 2020</span>. </p>
            <p><span class="text-clr"></span> The total <span class="text-clr">prize-pool</span> will be <span class="text-clr">Rs 4+ crores</span>, with the top 4 teams being paid based on their finishing position.
            </p>
            <p><span class="text-clr"></span> All team members also get a percentage of the winning prize (predetermined split).</p>
            
          </div>
    
    
        </ion-row>
    
 
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

