<ion-content class="ionic-home-page-section ion-content-back">
  <div class="back-img">
   
    <div class="opacity-0">
  <ion-grid>
        <ion-row>
          <img class= "img-logo" src="../../assets/images/logo.png" height="150px">
        </ion-row>
   </ion-grid>
    
   <ion-row>

    <div class="st-div">
      <div class="st-div-2" (click) = "userLevelSet(0)">
      <p>
       <span class="text-clr"></span> 
       I am new to Poker-Looking for a starting guide 

     </p>
    </div>
    <div class="st-div-2" (click) = "userLevelSet(1)">
     <p> I have been playing  Poker for fun and I am
      looking to improve my game.</p>
    </div>
    <div class="st-div-2" (click) = "userLevelSet(2)">
     <p> I have been playing Poker for a while and I have
      never indulged in Formal Training  </p>
    </div>
    <div class="st-div-2" (click) = "userLevelSet(4)">
     <p> I have been playing Poker for a while
      and indulged in Formal Training </p>
    </div>
    <div class="st-div-2" (click) = "userLevelSet(5)">
     <p>None of the above</p>
    </div>
     <p (click) = "userLevelSet(6)"><span class="text-clr">Skip</span></p>
     
   </div>
   

 </ion-row>
      
      </div>
    </div>

</ion-content>
