<ion-content class="ionic-welcome-page-section ion-content-back">
  <div class="opacity-0">
    <ion-slides #slides pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-row justify-content-center>
          <img class="logo" src="../../../assets/images/logo.png">
        </ion-row>
        <ion-row justify-content-center>
          <div class="title text-uppercase text-white">
            Thank You for Downloading our App.
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="descriptionnew text-white tq-page">
            We have designed this keeping you in mind, help us know you better. Tell us what you like, what you love,
            what you hate and especially what more you want from us. Lots of love.
            <p class="text-green ">TEAM HASHTAG POKER</p>
          </div>
        </ion-row>

        <ion-row justify-content-center>
          <div class="text-success arrow" (click)="skipStep()">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-white skip" (click)="skipStep()">
            skip
          </div>
        </ion-row>
      </ion-slide>
      <!-- <ion-slide>
        <ion-row justify-content-center>
          <img class="logo" src="../../../assets/images/logo.png" width="50%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="title text-uppercase text-white">
            welcome to hashtag poker
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="description text-white">
            Please create your profile
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <img class="profile" src="../../../assets/images/welcome/11.png" width="40%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-success arrow">
            <a color="primary" class="btnNext" (click)="skipStep()">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </a>
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-white skip" (click)="skipStep()">
            skip
          </div>
        </ion-row>
      </ion-slide> -->
      <!-- <ion-slide>
        <ion-row justify-content-center>
          <img class="logo" src="../../../assets/images/logo.png" width="50%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="title text-uppercase text-white">
            learn poker
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="description text-white">
            Beginner and Intermediate Learn Poker
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <img class="profile" src="../../../assets/images/welcome/12.png" width="40%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-success arrow">
            <a color="primary" class="btnNext" (click)="next()">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </a>
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-white skip" (click)="skipStep()">
            skip
          </div>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row justify-content-center>
          <img class="logo" src="../../../assets/images/logo.png" width="50%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="title text-uppercase text-white">
            Play Poker
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="description text-white">
            Play Poker and Enjoy
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <img class="profile" src="../../../assets/images/welcome/13.png" width="40%">
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-success arrow">
            <div class="text-green skip" (click)="skipStep()">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </div>
          </div>
        </ion-row>
        <ion-row justify-content-center>
          <div class="text-white skip" (click)="skipStep()">
            skip
          </div>
        </ion-row>
      </ion-slide> -->
    </ion-slides>
  </div>
</ion-content>