<ion-content class="ionic-home-page-section ion-content-back">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>

      </ion-grid>
      <div class="block">

        <ion-row>

          <div class="relative arrow" >
            <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" [routerLink]="['/home/tabs/psl']" src="assets/images/apply/arrow.png"></ion-img>
            <div class="apply-text" style=" padding-top: 21px;">Leaderboard as of {{date_lb}}</div>
          </div>
        </ion-row>
        <div class="container mt-3">
        
          <br>
          <div class="table-responsive">
          <table class="table table-bordered leader-board">
              <thead>
                <tr>

                  <th>Player</th>
                  <!--th>Teams</th-->
                  <th>Category</th>
                  <th>Points</th>
                  <!--th>Season2 Ranking</th-->
                  <th>Overall<br>Ranking</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList" class="l-data-row">

                  <td>{{data.player}}</td>
                  <!--td>
                    <ion-img src="{{data.rank}}"></ion-img>
                  </td-->
                  <td>{{data.category}}</td>
                  <td>{{data.points}}</td>
                  <!--td>{{data.stworank}}</td-->
                  <td>{{data.overallrank}}</td>

                </tr>
              </tbody>
            </table>
            
          </div>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      



      </div>
    </div>
  </div>
</ion-content>

