<section class="forgot-password" *ngIf="forgotPassword == true">
  <div class="text-uppercase text-center top-header">
    <div class="title">Forgot password</div>
  </div>
  <ion-grid>
    <form [formGroup]="mobileForm">
      <ion-row justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-input class="input-mobile text-italic" type="text" placeholder="Mobile" formControlName="phone">
          </ion-input>
        </ion-col>
        <div *ngFor="let validation of validationMessages.phone">
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div class="error-message text-red " *ngIf="f.phone.errors[validation.type]">
              {{ validation.message }}</div>
          </div>
        </div>
      </ion-row>
      <ion-row no-padding no-margin justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-button (click)="submitMobile(mobileForm)" size="default" color="subscribe" class="text-uppercase"
            expand="full">
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</section>
<section class="enter-otp" *ngIf="enterOtp == true">
  <div class="text-uppercase text-center top-header">
    <div class="title">Enter OTP</div>
  </div>
  <ion-grid>
    <form [formGroup]="otpForm">
      <ion-row justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-input class="input-mobile text-italic" type="text" placeholder="OTP" formControlName="otp_text">
          </ion-input>
        </ion-col>
        <div *ngFor="let validation of validationMessagesOtp.otp_text">
          <div *ngIf="submitted && fo.otp_text.errors" class="invalid-feedback">
            <div class="error-message text-red " *ngIf="fo.otp_text.errors[validation.type]">
              {{ validation.message }}</div>
          </div>
        </div>
      </ion-row>
      <ion-row no-padding no-margin justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-button (click)="submitOtp(otpForm)" size="default" color="subscribe" class="text-uppercase"
            expand="full">
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</section>
<section class="reset-password" *ngIf="resetPassword == true">
  <div class="text-uppercase text-center top-header">
    <div class="title">Reset Password</div>
  </div>
  <ion-grid>
    <form [formGroup]="passwordForm">
      <ion-row justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-input class="input-mobile text-italic" type="text" placeholder="Password" formControlName="password">
          </ion-input>
        </ion-col>
        <div *ngFor="let validation of validationMessagesPassword.password">
          <div *ngIf="submitted && fp.password.errors" class="invalid-feedback">
            <div class="error-message text-red " *ngIf="fp.password.errors[validation.type]">
              {{ validation.message }}</div>
          </div>
        </div>
      </ion-row>
      <ion-row no-padding no-margin justify-content-center>
        <ion-col size="8" no-padding no-margin>
          <ion-button (click)="submitPassword(passwordForm)" size="default" color="subscribe" class="text-uppercase"
            expand="full">
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</section>